.button {
  position: relative;
  display: inline-flex;
}

.button:focus,
.button:active {
  outline: none;
}

/* --white outer border */

.button:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 4px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  border-radius: 50%;
  background: var(--white);
}

/* --deep-blue-dark inner border and BG */

.content_wrapper {
  z-index: 1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid var(--deep-blue-dark);
  box-sizing: content-box;
  background-color: var(--primary);
  width: 100%;
}

/* gradient sheen & content */

.content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 8px transparent;
  border-radius: 50%;
  background-image: linear-gradient(var(--primary), var(--primary)),
    linear-gradient(to top right, rgba(0, 0, 0, 0.2), rgba(250, 250, 250, 0.2));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 100%;
  padding: 8px;
}

.animate:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 8px solid var(--primary);
  border-top: 8px solid rgba(250, 250, 250, 0.2);
  border-bottom: 8px solid rgba(250, 250, 250, 0.2);
  width: 100%;
  height: 100%;
  padding: 8px;

  animation: rotation 4s infinite linear;
}

/* ...icon */

.icon {
  color: var(--white);
  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 2px 0px var(--primary-dark));
  position: relative;
  z-index: 1;
}

.button:active .icon {
  text-shadow: none;
  filter: none;
  opacity: 0.56;
  color: var(--white);
  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 2px 0px var(--primary-dark));
}

/*  Rotate animation */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
