.dyl-button {
  position: relative;
  display: inline-flex;
  font-size: 20px;
  line-height: 32px;
  color: var(--white);
  letter-spacing: 0.4px;
}

.dyl-button:focus {
  outline: none;
}

.dyl-button:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 4px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  background: var(--white);
}

.dyl-button__content_wrapper {
  height: 56px;
  z-index: 1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 4px solid var(--deep-blue-dark);
  box-sizing: content-box;
  background-color: var(--primary);
  width: 100%;
}

.dyl-button:active .dyl-button__content_wrapper {
  background-color: var(--primary-dark);
}

.dyl-button__content {
  border: solid 4px transparent;
  border-width: 4px 0;
  border-radius: 12px;
  background-image: linear-gradient(var(--primary), var(--primary)),
    linear-gradient(to top right, rgba(0, 0, 0, 0.2), rgba(250, 250, 250, 0.2));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 100%;
}

.dyl-button:active .dyl-button__content {
  border-bottom: 0;
  background-image: linear-gradient(var(--primary-dark), var(--primary-dark)),
    linear-gradient(to top right, var(--primary-dark), rgba(0, 0, 0, 0.64));
  background-origin: content-box;
  padding-bottom: 12px;
}

.dyl-button__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.dyl-button:active {
  outline: none;
}

.dyl-button__no-icon {
  margin-left: 20px;
  margin-right: 4px;
}

.dyl-button__text {
  text-shadow: 0px 2px 0px var(--primary-dark);
  margin-right: 48px;
  font-weight: bold;
}

.dyl-button__text--left-margin {
  margin-left: 48px;
}

.dyl-button__large {
  width: 100%;
}

.dyl-button__large .dyl-button__icon,
.dyl-button__ok .dyl-button__icon {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0px 2px 0px var(--primary-dark));
  margin-left: 20px;
  margin-right: 4px;
}

.dyl-button__ok .dyl-button__text {
  margin-right: 32px;
}

.dyl-button:active .dyl-button__text,
.dyl-button:active .dyl-button__icon {
  text-shadow: none;
  filter: none;
  opacity: 0.56;
}

.dyl-button__small .dyl-button__content {
  padding: 4px 0;
  width: 56px;
}

.dyl-button__small:active .dyl-button__content {
  padding-bottom: 8px;
}

.dyl-button__small .dyl-button__icon {
  color: var(--white);
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 2px 0px var(--primary-dark));
}
