.answerCard {
  display: inline-flex;
  width: 320px;
  height: 320px;
  box-sizing: content-box;
  background: var(--white);
  position: relative;
  border: 4px solid var(--deep-blue-dark);
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.answerCard:after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  z-index: -1;
  border-radius: 28px;
  background: var(--white);
}

.selected {
  border-color: var(--primary);
}

.selected:after {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.32);
}

.small {
  height: 240px;
  width: 240px;
}

.disabled {
  cursor: not-allowed;
  border-color: rgba(0, 0, 0, var(--disabled-opacity));
}

.image_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
}

.image_content__disabled{
  opacity: var(--disabled-opacity);
}


