/* purgecss start ignore */

:root {
  --background: #fff;
  --overlay: rgba(0, 0, 0, 0.9);
  --white: #fff;
  --black: #000;
  --darkGrey: #8D8D8D;
  --error: #B00020;
  --primary: #8031a7;
  --primary-light: #ccacdc;
  --primary-dark: #5a2275;
  --deep-blue-dark: #003553;
  --type-dark: #1b1c20;
  --skin-tone-1: #f0d9c5;
  --skin-tone-2: #edceaf;
  --skin-tone-3: #ecc6aa;
  --skin-tone-4: #e6bf97;
  --skin-tone-5: #d9ac90;
  --skin-tone-6: #c5a690;
  --skin-tone-7: #a78973;
  --skin-tone-8: #9f7c52;
  --skin-tone-9: #956535;
  --skin-tone-10: #7d4f2d;
  --skin-tone-11: #6c4227;
  --skin-tone-12: #5f3721;
  --skin-tone-13: #472e21;
  --disabled-opacity: 0.32;
}

@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

* {
  user-select: none;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--background);
}

img {
  pointer-events: none;
}

.dyl__container {
  width: 1024px;
  height: 768px;
  position: relative;
}

.overlay {
  position: fixed;
  height: 1024px;
  width: 1024px;
  z-index: 40;
  /* background: rgba(0, 0, 0, 0.9);   */
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 32%, transparent 60%);
}

.animated-component {
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Regular_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Regular_Infant.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Bold_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Bold_Infant.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Italic_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Italic_Infant.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Bold_Italic_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Bold_Italic_Infant.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Semibold_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Semibold_Infant.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Semibold_Italic_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Semibold_Italic_Infant.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_light_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_light_Infant.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_light_italic_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_light_italic_Infant.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Black_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Black_Infant.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CUP_Infant';
  src: url('../fonts/Source_CUP_Black_Italic_Infant.woff2') format('woff2'),
    url('../fonts/Source_CUP_Black_Italic_Infant.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
