.card {
  display: inline-flex;
  width: 262px;
  height: 124px;
  box-sizing: content-box;
  background: var(--white);
  position: relative;
  border: 4px solid var(--deep-blue-dark);
  border-radius: 16px;
  font-weight: bold;
}

.card:after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  z-index: -1;
  border-radius: 20px;
  background: var(--white);
}

.content {
  padding: 16px 32px 16px 16px;
  width: 100%;
}

.button__content {
  padding: 16px 12px 8px 16px;
}

.text {
  color: var(--deep-blue-dark);
  font-size: 20px;
  letter-spacing: 0.4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  position: absolute;
  bottom: 8px;
  right: 12px;
  outline: none;
  height: 40px;
}

.button:focus,
.button:active {
  outline: none;
}

.button:active {
  color: var(--primary-dark);
}

.button__icon {
  width: 40px;
}

.button__text {
  /* width: 40px; */
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
