.item__img {
  width: 320px;
  height: 320px;
}

.item__circle {
  border: 2px solid var(--primary, #8031a7);
  opacity: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.item__circle__filled {
  background: var(--primary, #8031a7) 0% 0% no-repeat padding-box;
}

.item__answer {
  display: block;
}

.item__answer > input[type='radio'] {
  display: none;
}
.item__answer img,
.item__answer span {
  cursor: pointer;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 0 5px black;
}

.item__answer img:focus,
.item__answer span:focus {
  outline: none;
}

.item__answer > input:checked + img,
.item__answer > input:checked + span {
  box-shadow: 0 0 0 10px var(--primary, #8031a7);
}

/* .item__answer > input:disabled + img,
.item__answer > input:disabled + span {
  box-shadow: 0 0 0 10px grey;
  opacity: 0.4;
} */

input:disabled + img,
input:disabled + span {
  box-shadow: 0 0 0 10px grey;
  opacity: 0.4;
}

@media screen and (max-height: 767px) {
  .item__actions {
    position: fixed;
    bottom: 0;
  }
}
