.phoneContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  max-height: 528px;
  max-width: 314px;
  width: 100%;
  margin: 24px auto 0 auto;
  padding: 32px 4px;
}

.chatContainer {
  display: flex;
  z-index: 10;
  position: relative;
  background: var(--white);
  padding: 12px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.chatContainer__bubble {
  background: #d5efff;
  border-radius: 16px 16px 16px 0;
  padding: 12px;
  margin: 16px 0;
  max-width: 232px;
  font-size: 24px;
  line-height: 1.2;
}

.chatContainer__bubble.response {
  background: #ffebd3;
  border-radius: 16px 16px 0 16px;
}

.messageContainer {
  position: relative;
  z-index: 10;
  background-color: var(--white);
  padding: 12px;
  height: 112px;
  border-top: 1px solid;
  overflow: visible;
}

.messageContainer__message {
  font-size: 24px;
  line-height: 1.2;
}

.messageContainer__attachment {
  height: 60px;
  padding-top: 12px;
  margin: 0 auto;
}

.menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  position: relative;
  z-index: 9;
  background-color: #eeeeee;
}

.answerContainer {
  position: absolute;
  width: 100%;
  height: 304px;
  z-index: 50;
  background-color: #f2f1f0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-items: center;
  align-items: center;
}

.answerContainer__stimulus {
  font-size: 36px;
  line-height: 1.2;
  color: var(--white);
  padding-top: 120px;
  padding-bottom: 72px;
  text-align: center;
}