.eraser {
  width: 112px;
  height: 64px;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.32));
}

.st0 {
  fill: none;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  fill: #003553;
}
.st3 {
  fill: #235a6f;
}
.st4 {
  fill: #fa5024;
}
.st5 {
  opacity: 0.24;
  enable-background: new;
}
