.trailfield {
  border: 4px solid var(--black);
  border-radius: 16px;
  position: relative;
  overflow: visible;
  margin: 0 16px;
  transition: all ease 0.2s;
}

.trailbutton {
  position: relative;
  overflow: visible;
  margin: 0 16px;
  top: 4px;
}

.extraBorder {
  content: '';
  border-radius: 20px;
  border: 8px solid transparent;
  position: absolute;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  transition: all ease 0.2s;
  height: 68px;
}

.trailfield:focus-within,
.trailfield:focus-within .extraBorder {
  border-color: var(--primary);
  z-index: 1;
}

.trailfield:focus-within,
.trailfield:focus-within .error {
  border-color: var(--error);
  z-index: 1;
}

.extraBorder__error {
  content: '';
  border-radius: 20px;
  border: 8px solid transparent;
  position: absolute;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  transition: all ease 0.2s;
  height: 68px;
}

.trailfield:focus-within,
.trailfield:focus-within .extraBorder__error {
  border-color: var(--error);
  z-index: 1;
}

.triallegend {
  position: relative;
  z-index: 1;
  background-color: white;
  margin-left: 8px;
  padding: 0 8px;
}

.trailfield:focus-within .triallegend {
  color: var(--primary);
  margin-left: 8px;
}

.triallegend__error {
  position: relative;
  z-index: 1;
  background-color: white;
  margin-left: 8px;
  padding: 0 8px;
}


.trailfield:focus-within .triallegend__error {
  color: var(--error);
}

.trailinput {
  padding: 0 8px 8px 8px;
  font-size: 24px;
  border-radius: 16px;
  width: 320px;
  display: flex;
  outline: none;
  user-select: auto;
}

.tokenfield {
  width: 240px;
}

.trailinput:focus {
  outline: none;
}

.helpertext {
  margin-left: 32px;
  margin-top: 8px;
  font-size: 16px;
  color: var(--darkGrey);
}

.error {
  color:  var(--error);
  border-color: var(--error);
}
