.pencil {
  height: 64px;
  width: 200px;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.32));
}

.st0 {
  fill: none;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  fill: #0d3653;
}

.st4 {
  opacity: 0.12;
  fill: #ffffff;
  enable-background: new;
}
.st5 {
  opacity: 0.12;
  enable-background: new;
}
