.dyl-audio-player {
  position: relative;
  display: inline-flex;
}

.dyl-audio-player__content {
  display: inline-flex;
  box-sizing: content-box;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background: var(--white);
  position: relative;
  border: 4px solid var(--primary);
  border-radius: 50%;
  color: var(--primary);
  z-index: 1;
}

.dyl-audio-player:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  border-radius: 50%;
}

.dyl-audio-player__icon {
  display: block;
  width: 40px;
  height: 40px;
}
