.dyl-item-progress {
  display: inline-flex;
  width: 160px;
  align-items: center;
  justify-content: center;
  background: var(--white);
  position: relative;
  border-radius: 32px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: var(--deep-blue-dark);
  line-height: 1;
  z-index: 1;
  box-sizing: content-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  background: var(--white);
  padding: 8px;
}

.dyl-item-progress__text {
  line-height: 1;
}

.dyl-item-progress__bar {
  height: 16px;
  width: 120px;
  border: 2px solid var(--deep-blue-dark);
  border-radius: 12px;
  margin-left: 4px;
  box-sizing: content-box;
  position: relative;
}

.dyl-item-progress__bar > span {
  display: block;
  height: 100%;
  border-radius: 12px;
  background-color: #f4bb32;
  overflow: hidden;
  box-shadow: 1px -1px rgba(0, 0, 0, 0.1) inset;
}
