.phone {
  position: relative;
  width: 100px;
  height: 160px;
  border: 0 solid #000;
  border-width: 20px 10px;
  background: #a9a9a9;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
